input {
  width: 200px;
  border-radius: 6px;
  padding: 2px;
  outline: none;
  border: 1px solid;
}

input:focus {
  border-color: rgb(25, 107, 179);
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
  list-style: none;
  border: 1px solid;
  width: 200px;
  height: 100px;
  overflow: auto;
  scrollbar-base-color: white;
}

li {
  padding: 1px;
  font-size: 16px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(73, 156, 229);
}

.category {
  margin: 0;
  background-color: blue;
  color: white;
}

.category:hover {
  background-color: blue;
}

.hidden {
  display: none;
}
