@layer components {
    :root {
        --searchbox-background-color: #213547;
        --searchbox-color: #ffffff;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --searchbox-background-color: lightgray;
            --searchbox-color: black;
        }
    }

    .search-box-wrapper {
        display: inline flow-root;
        position: relative;
    }

    .search-box-wrapper .search-box-suggestion {
        position: absolute;
    }

    .search-box {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 8px;
        background-color: var(--searchbox-background-color);
        color: var(--searchbox-color);
    }
}