.header {
    width: 100%;
    max-width: 460px;
    height: 10px;
    margin: 10px 0;
    background-color: #000;
}
.searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}
.searchInput {
    width: 400px;
    padding: 10px 0 10px 15px;
    margin-left: 5px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.44);
}
.searchInput:focus {
    border: 1px solid rgba(255, 0, 0, 0.96);
    border-radius: inherit;
}
.searchIco {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}
.searchIco:hover {
    width: 25px;
    height: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.44);
    border-radius: 3px;
    cursor: pointer;
}
.option {
    width: 100%;
    min-width: 250px;
    max-width: 423px;
    max-height: 110px;
    margin-left: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.optionBox {
    width: calc(100% - 10px);
    min-width: 250px;
    margin-left: 5px;
    padding-left: 5px;
    cursor: pointer;
}
.optionBox:hover {
    background-color: #02a0a0;
}
.optionTitle {
    width: calc(100% - 25px);
    margin-left: 5px;
    background-color: #b095ed;
    padding-left: 20px;
    color: white;
    font-weight: bold;
    cursor: default;
}
.highlight {
    font-weight: bold;
}