ul {
  width: 100%;
  list-style-type: none;
  /* height: 100%; */
}

li {
  height: 20px;
}
.notAType:hover {
  background-color: lightblue;
  color: rgb(83, 83, 83);
  cursor: pointer;
}

input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
input:focus {
  border-color: blue;
}

#container {
  width: 200px;
}

#listContainer {
  border: 1px solid navy;
  height: 100px;
  overflow: scroll;
}

.type {
  background-color: navy;
  color: white;
}
