.search-form {
  position: relative;
}

.search-form__input {
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  padding: 10px;
}

.search-form__button {
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
}
