@tailwind base;
@tailwind components;
@tailwind utilities;

/* 아래의 모든 코드는 영역::코드로 사용 */
.scrollBar::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #949596; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
  background: rgba(137, 137, 137, 0.1); /*스크롤바 뒷 배경 색상*/
}
