:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 20px;
  font-size: 16px;
  font-family: inherit;
  background-color: #e1d9ee;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2832f4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
