:root {
  --border-color: #dddddd;
  --searchBar-width: max(40vw, 200px);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  .search {
    display: inherit;
    position: relative;
    top: -18px;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    outline: none;

    width: var(--searchBar-width);
    margin-top: 12px;
    padding: 18px 16px 16px 16px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 18px;

    &::placeholder {
      color: #d9d9d9;
    }
  }

  label {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 12px;
    padding: 0px 10px;
    background: #ffffff;
    font-size: 14px;
    color: #888888;
    font-weight: bold;
  }

  button {
    width: 55px;
    margin: 12px 0 0 5px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      filter: contrast(105%);
    }
    &:active {
      filter: brightness(95%);
    }
  }
}

.search-list {
  width: var(--searchBar-width);
  height: 300px;
  max-height: 40vh;
  border: 1px solid var(--border-color);
  border-radius: 5px 0 0 5px;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  overflow-y: scroll;
  box-sizing: border-box;

  & ul {
    & li {
      padding: 8px;

      & span {
        font-weight: bold;
      }

      &:hover {
        background-color: #9bedff;
      }
    }
  }
}
